.quiz__wrapper {
  // background-color: @pink;
  background: linear-gradient(to top, #fff0f9, darken(#fff0f9, 5%));
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 20px 0 0;

  overflow: hidden !important ;
  height: 100%;

  // will-change: scroll-position;
  // overflow: auto;
  // -webkit-overflow-scrolling: touch;
  // box-sizing: border-box;
  // height: 100%;
  // position: relative;
  // z-index: 1;
}

// @box-shadow-sm: 0 0.25rem 0.375rem rgba(black, 0.09);
// @box-shadow: 0 0.5rem 1rem rgba(black, 0.09);
// @box-shadow-lg: 0 0.75rem 1.5rem rgba(black, 0.09);

.shadow-sm {
    box-shadow: 0 0.25rem 0.375rem rgba(black, 0.09);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.09);
}

@pink: #a50064;
@momo: #e81f76;

.quiz__body {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  // padding-bottom: 60px;
  // min-height: 100vh;

  // width: 100%;
  display: flex;
  flex-direction: column;
}

.quiz__body__scroll {
  padding: 15px 18px;

  flex: 1;

  will-change: scroll-position;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.quiz__answer {
}

.quiz__question {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}

.quiz__function {
  // position: absolute;
  // left: 15px;
  // right: 15px;
  // bottom: 15px;
  // padding-top: 20px;
  // border-radius: 16px;
  // overflow: hidden;
  padding: 15px 15px 15px 15px;
  position: relative;
}

.quiz__function__hmm {
  position: absolute;
  width: 36px;
  bottom: -2px;
  left: -25px;
}

.quiz__btn {
  // background-color: #6aba2e;
  position: relative;
  padding: 0 15px;
  color: white;
  border-radius: 5px;
  height: 34px;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  // @extend .shadow-sm;
  &:extend(.shadow-sm);

  background-color: darken(@momo, 10%);
  border: 1px solid darken(@momo, 15%);
  // @include hover-focus() {
  //   // background-color: lighten(#6aba2e, 5%);
  //   background-color: darken(@momo, 5%);
  // }

  &:hover,
  &:focus {
    background-color: darken(@momo, 5%);
  }

  &.have-image {
    padding-left: 20px;
  }

  &.is-pink {
    color: rgba(@pink, 0.8);
    background-color: rgba(@pink, 0.2);
    border-color: rgba(@pink, 0.3);
    //   @include hover-focus() {
    //     // background-color: lighten(#6aba2e, 5%);
    //     background-color: rgba(@pink, 0.3);
    //   }

    &:hover,
    &:focus {
      background-color: rgba(@pink, 0.3);
    }
  }

  &.is-gray {
    color: var(--gray-600);
    background-color: var(--gray-300);
    border-color: var(--gray-400);
    //   @include hover-focus() {
    //     // background-color: lighten(#6aba2e, 5%);
    //     background-color: var(--gray-500);
    //   }
    &:hover,
    &:focus {
      background-color: var(--gray-500);
    }
  }
}

.quiz__heading {
  color: var(--gray-600);
  padding: 10px 15px;
  width: 100%;
  overflow: hidden;
  max-width: 250px;
  margin: 0 auto;
}

.quiz__slider {
  height: calc(100% - 65px);
  .swiper-slide {
    height: 100%;
    background-color: white;
    border-radius: 12px;
  }
}

.quiz__swiper {
  .swiper-wrapper {
  }

  .swiper-slide {
    //   @extend .shadow;
    &:extend(.shadow);
    height: auto;

    width: 90%;
    opacity: 0.8;
    transform: scale(0.97);
    transition: opacity 0.15s ease-in, transform 0.2s ease-out;
    will-change: transform;
    &.swiper-slide-active {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.quiz__question__label {
  font-size: 14px;
  color: var(--gray-600);
}

.quiz__process {
  padding-bottom: 3px;
}

.quiz__process__item {
  width: 28px;
  height: 28px;
  font-size: 14px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--gray-800);
  // border: 1px solid var(--gray-500);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  span {
    line-height: 1;
  }
  i {
    display: none;
    font-size: 20px;
  }

  &.is-select {
    // background-color: @momo;
    color: @momo;
    border-color: @momo;
    i {
      display: inline;
    }
    span {
      display: none;
    }
  }
}

.quiz__process__swiper {
  // overflow: visible;
  .swiper-wrapper {
    // justify-content: center;
  }
  .swiper-slide {
    width: 35px;
    &.is-active {
      .quiz__process__item {
        // box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.2);
        // color: var(--gray-900);
        background-color: rgba(@momo, 0.7);
        border-color: @momo;
        color: white;
        // border-color: rgba(255, 255, 255, 0.9);
        // color: @momo;
      }
    }
  }
}

.quiz__answer {
  .quiz__answer__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .quiz__answer__item {
    cursor: pointer;
    padding: 12px 10px 12px 40px;
    // border: 1px solid var(--gray-300);
    // border-radius: 16px;

    position: relative;
    z-index: 1;

    &:after {
      content: "";
      background-clip: padding-box;
      border-style: solid;
      position: absolute;
      z-index: -1;
      border-radius: 12px;

      transition: all 0.15s ease-in;
      background-color: #fff;
      border-color: #e5e5e5;

      bottom: -4px;
      content: "";
      left: -2px;
      right: -2px;
      top: -2px;

      border-width: 2px 2px 4px;
    }

    &.is-active {
      // border: 1px solid green;
      // background-color: rgba(@momo, 0.2);
      // color:white;
      // font-weight: bold;

      &:after {
        // background-color: rgba(@momo, 0.08);
        background: rgba(@momo, 0.05);
        border-color: rgba(@momo, 0.65);
        // color: @momo;
      }

      .quiz__answer__check {
        background-color: rgba(@momo, 0.65);
        &:after {
          opacity: 1;
        }
      }
    }
  }

  &.single {
  }

  &.multiple {
    .quiz__answer__item {
      &.is-active {
        i {
          opacity: 1;
        }
      }
    }
    .quiz__answer__check {
      border-radius: 3px;
      &:after {
        display: none;
      }
    }
  }

  &.tag_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .quiz__answer__item {
      width: calc(50% - 8px);
      flex: 0 0 calc(50% - 8px);
      min-width: 0;
    }
    .quiz__answer__item {
      padding: 12px 15px 12px 15px;
    }
    .quiz__answer__check {
      display: none;
    }
  }

  &.tag {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
    // justify-content: space-between;
    .quiz__answer__item {
      width: auto;
      flex: 0 0 auto;
      min-width: 0;
    }
    .quiz__answer__item {
      padding: 12px 15px 12px 15px;
    }
    .quiz__answer__check {
      display: none;
    }
    .quiz__answer__item {
      margin-bottom: 15px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  &.grid_text {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
    // justify-content: space-between;
    .quiz__answer__item {
      width: calc(33.3333% - 16px);
      flex: 0 0 calc(33.3333% - 16px);
      min-width: 0;
      min-height: 62px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .quiz__answer__item {
      padding: 12px 15px 12px 15px;
    }
    .quiz__answer__check {
      display: none;
    }
    .quiz__answer__item {
      margin-bottom: 15px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  &.grid_image {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .quiz__answer__item {
      width: calc(50% - 8px);
      flex: 0 0 calc(50% - 8px);
      min-width: 0;
    }
    .quiz__answer__image {
      overflow: hidden;
      margin-bottom: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .embed-responsive-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .quiz__answer__item {
      padding: 0 0 10px 0;
    }
    .quiz__answer__check {
      display: none;
    }
    .quiz__answer__item {
      margin-bottom: 15px;
      text-align: center;
      &.is-active {
        .quiz__answer__image__check {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .quiz__answer__image__check {
      pointer-events: none;
      color: @momo;
      position: absolute;
      z-index: 10;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.9);
      top: -7px;
      left: -7px;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 26px;
        // line-height: 1;
      }
      opacity: 0;
      transform: scale(0.6);
      transition: all 0.1s ease-in;
    }
  }
}

.quiz__answer__check {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  // border: 1px solid var(--gray-300);
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--gray-200);
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in;
  i {
    font-size: 14px;
    line-height: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s ease-in;
  }

  &:after {
    content: "";
    width: 6px;
    height: 6px;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
  }
}

.quiz__toolbar {
  background-color: transparent;
  &:before,
  &:after {
    display: none;
  }
  .button {
    border-radius: 16px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.3);
    line-height: 42px;
  }
}

.quiz__toolbar {
  height: 65px;
}

.page .quiz__toolbar + .page-content {
  padding-bottom: 65px;
}

.quiz__intro {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 99;
  display: inline-block;
}

.popover-about {
  width: calc(100% - 30px);
  .popover-angle {
    display: none;
  }
}

.popover__quiz__grid {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  padding: 10px;
}

.popover__quiz__content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  min-height: 52px;
  &:after {
    right: 100%;
    top: 26px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0.9);
    border-width: 10px;
    margin-top: -10px;
  }
}

.errInfo {
  padding: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.errInfo img {
  max-width: 80%;
}
