.sale-header {
  padding: 15px 0;
}

.sale-header-2 {
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 30px;
  .sale-title {
    font-size: 16px;
    color: var(--gray-800);
  }
  .sale-time {
    font-size: 14px;
  }
}

.sale-title {
  font-weight: 600;
  color: var(--primary-2);
  font-size: 24px;
  line-height: 1.35;
}

.sale-time {
  color: gray("500");
}

.sale-code {
  padding: 25px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-code-item {
  display: flex;
  flex-flow: row nowrap;
  background: #ffeef9;
  border: 1px solid #fbbccf;
  border-radius: 50px;
  padding: 8px 25px;
  align-items: center;
  line-height: 0;
  position: relative;
  .code {
    color: var(--primary-2);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
  }
  .copy {
    border: none;
    border-left: 1px solid #e0b1bf;
    padding: 0;
    padding-left: 15px;
    margin-left: 15px;

    background: none;
    color: inherit;

    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.copy-popover {
  position: absolute;
  padding: 14px 10px 14px 36px;
  display: block;
  white-space: nowrap;
  top: 100%;
  right: 0;
  // color: white;
  background: rgba(255, 255, 255, 1);
  font-size: 13px;
  border-radius: 7px;
  border: 1px solid var(--gray-300);
  @extend .shadow;

  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: -6px;
    right: 31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 6px 7px;
    border-color: transparent transparent var(--gray-300) transparent;
  }

  &:after {
    content: "";
    position: absolute;
    top: -5px;
    right: 32px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
  }
}

.badge.badge-sale {
  border-radius: 1px;
  padding: 0px 7px;
  height: 20px;
}

.copy-button {
  cursor: pointer;
}

.copy-popover-img {
  position: absolute;
  top: 5px;
  left: 8px;
}

.sale-cluster {
  padding-bottom: 20px;
}

.sale-cluster-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: var(--gray-800);
}

.sale-cluster-content {
  color: var(--gray-700);
  font-size: 15px;
  line-height: 25px;
}

.js-sale-more {
  .sale-cluster-content {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: none;
      width: 100%;
      height: 40px;
      background: linear-gradient(
        rgba(255, 255, 255, 0.001),
        white
      ); /* transparent keyword is broken in Safari */
      pointer-events: none;
    }
  }

  &.active {
    .sale-cluster-content {
      &:after {
        display: block;
      }
    }
    .js-sale-more-btn {
      display: block;
    }
  }
}

.js-sale-more-btn {
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
  display: none;
  padding: 5px 0;
  color: var(--gray-900);
  display: none;
}

.sale-footer {
  padding: 9px 6px;
  .promotion-footer-btn {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.sale-avatar-container {
  margin-top: -35px;
  z-index: 1;
  position: relative;
}

.sale-avatar {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  background: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}

.list-format2 {
  counter-reset: item;

  margin: 1em 0 0.25em;
  padding: 0;
  > li {
    counter-increment: item;
    text-indent: -2em;
    list-style-type: none;
    margin: 0 0 0.75em;
    padding: 0 0 0 1.5em;
    &:before {
      content: counter(item) ".";
      display: inline-block;
      color: #2d3e50;
      font-weight: 700;
      text-align: right;
      width: 1.5em;
      padding-right: 0.1em;
      box-sizing: content-box;
    }
  }
  > li:last-child {
    margin-bottom: 0;
  }
}

/* .btn-more-detail{
  @include button-outline-theme(var(--gray-600), var(--gray-300), white );

  @include hover-focus(){
    color: var(--gray-600);
    background-color: var(--gray-100);
    border-color: var(--gray-300);
  }
} */

.noti-content {
  font-size: 16px;
  color: var(--gray-700);
  line-height: 26px;
  padding: 10px 0;
  img {
    max-width: 100% !important;
    height: auto !important;
  }
  &.font-15{
    font-size: 15px;
    line-height: 25px;
  }
}

.noti-gallery {
  margin-bottom: 15px;
  margin-top: 15px;

  .swiper-slide {
    width: 300px;
  }

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  .img-wrapper {
    height: 180px;
    display: flex;
    border-radius: 5px;
    width: 300px;
  }

  @media (max-width: 320px) {
    .swiper-slide {
      width: 250px;
    }

    .img-wrapper {
      height: 150px;
      display: flex;
      border-radius: 5px;
      width: 250px;
    }
  }

  .img-wrapper > img {
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .image-caption {
    background: var(--gray-200);
    padding: 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--gray-700);
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.noti-content {
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }

  // .image {
  //   margin: 30px 0 30px;
  //   // box-shadow: 0 0 0 1px #ECEFF3;
  //   img {
  //     transition: 0.25s;
  //     width: 100%;
  //     border-radius: 2px;
  //   }

  //   figcaption {
  //     text-align: center;
  //     font-size: 15px;
  //     padding: 8px 10px 0;
  //     color: var(--gray-700);
  //   }
  // }
}

.noti-content {
  // line-height: 1.7;
  // font-size: 1.25rem;
  // margin-bottom: 2rem;

  p {
    margin-bottom: 1rem;
  }

  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  ul ul {
    margin-left: 0.5rem;
  }

  ol {
    ol {
      margin-left: 0.5rem;
    }

    float: none;
    list-style: decimal inside;
    margin-left: 0;
    padding-left: 1.5rem;

    li {
      list-style: decimal;
      width: 100%;
    }
  }
}

.noti-content dd {
  margin: 0 0 1.65em;
}

.noti-content ul {
  list-style: disc;
  padding-left: 1.5rem;

  li {
    list-style: disc;
  }
}

.pron-row.balance {
  margin-right: -15px;
  margin-left: -15px;
}

.toolbar-inner{
  p{
    margin: 0;
  }
  a{
    font-weight: bold;
  }
}