// :root {
//   --primary-2: #a50064;
//   --primary-3: #020202;
//   --gray-900: #212121;
//   --gray-800: #424242;
//   --gray-700: #616161;
//   --gray-600: #757575;
//   --gray-500: #9e9e9e;
//   --gray-400: #bdbdbd;
//   --gray-300: #e0e0e0;
//   --gray-200: #eee;
//   --gray-100: #f5f5f5;
//   --f7-button-bg-color: #e81f76;
// }
figure {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}


// .figure-div {
//   background-color: gray("100");
//   border-radius: 0;
//   overflow: hidden;
// }
// .figure-embed {
//   position: relative;
//   display: block;
//   width: 100%;
//   padding: 0;
//   overflow: hidden;
// }
// .figure-embed::before {
//   display: block;
//   content: "";
//   padding-top: 50%;
// }

// .figure-embed .figure-img {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border: 0;
//   margin: 0;
// }

.service__banner {
  margin: -10px -15px 0;
}

.services-table-list {
  --f7-list-bg-color: transparent;
  --f7-list-item-title-white-space: normal;
  --f7-list-item-text-max-lines: 1;
  --f7-list-item-text-font-size: 13px;
  --f7-list-link-pressed-bg-color: transparent;
  --f7-list-item-title-line-height: 1.2;
}
.services-table-list .item-link .item-inner {
  padding-right: 0;
}
.services-table-list .item-content {
  padding-left: 0px;
}
.services-table-list ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex-flow: row wrap;
}
.services-table-list li {
  list-style: none !important;
  width: 100%;
  flex: 1 1 100%;
}
.services-table-list-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services-table-list-image {
  width: 60px;
  height: 60px;
  border-radius: 21%;
  background: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-table-list-image img {
  width: 44px;
}
.services-table-list-button {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  margin-left: var(--f7-list-item-padding-horizontal);
  --f7-button-bg-color: var(--pink);
  --f7-button-pressed-bg-color: rgba(0, 0, 0, 0.4);
  --f7-button-text-color: white;
  --f7-button-border-radius: 8px;
  --f7-button-font-size: 13px;
  --f7-button-font-weight: 700;
  --f7-button-height: 35px;
}

.service-article {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  line-height: 1.55;
}
.service-article strong {
  color: rgba(0, 0, 0, 0.7);
}
.service-article p {
  margin-bottom: 16px;
  margin-top: 0;
}
.service-article .tt1 {
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.9);
}
.service-article .tt2 {
  font-size: 17px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 7px;
}