.referral-swiper {
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: white;
    }
  }
}
.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0;
}
#inputCode {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  left: 23px;
  user-select: none;

  font-size: 22px;
  font-weight: bold;
}


.mm-type{
  font-size: 15px;
}
.mm-space-name {
  font-size: 18px;
}

.copy-popover {
  position: absolute;
  padding: 14px 10px 14px 36px;
  display: block;
  white-space: nowrap;
  top: 100%;
  right: 0;
  // color: white;
  background: rgba(255, 255, 255, 1);
  font-size: 13px;
  border-radius: 7px;
  border: 1px solid var(--gray-300);

  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: -6px;
    right: 31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 6px 7px;
    border-color: transparent transparent var(--gray-300) transparent;
  }

  &:after {
    content: "";
    position: absolute;
    top: -5px;
    right: 32px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
  }
}

.badge.badge-sale {
  border-radius: 1px;
  padding: 0px 7px;
  height: 20px;
}

.copy-button {
  cursor: pointer;
}

.copy-popover-img {
  position: absolute;
  top: 5px;
  left: 8px;
}

.embed-responsive-referral {
  &::before {
    padding-top: percentage(54/108);
  }
}

#inputCode {
  left: 0;
}
.referral-code {
  border-radius: 5px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background: var(--gray-200);
  .copy-popover {
    padding: 4px 10px 4px 36px;
  }
  &.code {
    max-width: 200px;
  }
}
.referral-code-txt {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 15px;
}

.referral-code-btn {
  height: 100%;
  background: var(--pinkmomo);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  a {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none !important;

    color: white !important;
  }
}

.referral-gift {
  position: relative;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px,
    rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.mm-highlight {
  background-color: lighten(#a50064, 57%);
  border-top: 1px solid var(--gray-200);
  border-bottom: 1px solid var(--gray-200);
  // border: none;
  // padding: 0 0 20px;
  // margin: 0;
}

.referral-gift-highlight {
  position: relative;
  background: white;

  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  .referral-gift-name {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px 0;
  }

  .referral-gift-desc {
    font-size: 13px;
    color: var(--gray-600);
    margin-top: 5px;
    padding: 0px 10px 10px;
  }
}
.text-momo {
  color: #ae2070;
}

.referral-code-phone {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.referral-social {
  line-height: 0;
}
.toolbar-large {
  height: 58px;
}

.referral-social-item {
  display: inline-block;
  margin-right: 5px;
}

.toolbar-referral {
  .referral-code {
    height: 34px;
  }
}

.swiper-item-referral {
  padding: 0 15px;
  .swiper-slide {
    width: 65%;

    .cbs-item-sm:last-child {
      margin-bottom: 0;
    }
  }
}

.referral-gift-name {
  font-size: 15px;
  //margin-top: 8px;
  padding: 10px 14px;
}

.referral-gift-detail {
  color: gray("700");
}

.htu-bank {
  display: flex;
  flex-flow: row wrap;
  margin-left: -3px;
  margin-right: -3px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 0;
}

.htu-bank-col {
  flex: 0 0 auto;
  padding: 0 4px;
  text-align: center;
}

.htu-bank-item {
  width: 62px;
  height: 55px;
  position: relative;
  background: white;
  margin: 0 auto 8px;
  border-radius: 5px;
  padding: 4px 6px 20px;
  font-size: 10px;
  text-align: center;
  border: 1px solid var(--gray-300);
  div {
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  img {
    width: 25px;
    margin-bottom: 4px;
  }
}

.referral-qr {
  margin: -13px -13px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.cas-htu-popup.popup-swipe-round {
  .page-content {
    padding-top: 48px;
  }
}

.referral-popup,
.cas-htu-popup {
  .navbar-inner {
    .popup-close {
      position: relative;
      z-index: 9;
      transform: translate3d(0, 0, 0);
      &:after {
        content: "";
        position: absolute;
        width: 80px;
        outline: none;
        height: 100%;
        left: -10px;
        top: 0;
        bottom: -20px;
      }
    }
  }
}

.page-content {
  //scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.bg-sha {
  background-color: #fafdff;
}

.accordion-referral {
  .accordion-item {
    margin-bottom: 10px;
    .item-content {
      border-radius: 5px;
      padding-left: 15px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px,
        rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
    }
  }
  .accordion-item-content {
    background: #ececec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .item-link .item-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  ul:after,
  ul:before,
  a:after,
  .item-inner:after,
  li:after {
    display: none;
  }
  ul {
    background: transparent;
  }
  ul.steps {
    margin-top: 15px;
  }
  .step-link {
    font-size: 14px;
  }
  .step-item {
    width: 100%;
    position: relative;
  }
  .step-number {
    background: white;
    color: var(--pinkmomo);
    font-weight: bold;
  }
  .steps-vertical .step-item:not(:last-child):before {
    background: gray("400");
    top: 26px;
  }

  .step-title {
    p {
      margin: 0;
    }

    margin-right: 15px;
  }

  .steps-vertical .step-item:not(:last-child) {
    //padding-bottom: 10px;
    .step-title {
      //margin-right: 15px;
    }

    .step-link {
      width: 100%;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 0;
        left: 43px;
        right: 15px;
        bottom: -10px;
        border-bottom: 1px dashed gray("400");
      }
    }
  }
}
.giftrefe__wrap {
  text-align: center;
  margin-top: 10px;
  // border-radius: 10px;
  // background-color: #A50064;
  // border: 1px dashed gray("400");
  display: block;
  padding: 10px 20px;

  border-radius: 8px;
  border: 1px dashed #d0021b;
  background-color: #fff4f6;
  // background-image: url("../images/oval.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top right;
}

.giftrefe__label {
  font-size: 13px;
  color: gray("900");
  text-transform: uppercase;
  font-weight: bold;
}

.giftrefe__val {
  font-size: 28px;
  font-weight: bold;
  // background-color: #A50064;
  color: var(--pinkmomo);
  // color: white;
  padding-top: 0px;
  // border-radius: 20px;
}

.giftrefe__meta {
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
  padding: 13px 0;

  .giftrefe__meta__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.giftrefe__meta__item {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  .f7-icons {
    color: var(--pinkmomo);
    position: absolute;
    font-size: 18px;
    top: 2px;
    left: 0;
  }
}

.bg-mm-light {
  background-color: #f5f5f7;
}
.mm-space {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07);
  // &:nth-child(even){
  //   background-color: gray("100");
  // }
}

.mm-space-title {
  padding-top: 5px;
  display: flex;
  flex-flow: row nowrap;
}
.mm-space-name {
  flex: 1;
  padding-right: 15px;
}
.mm-space-sub {
  font-size: 16px;
}

.refFeature-content {
  padding: 20px;
}

.refFeature-card {
  background-color: white;
  margin: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.refFeature-step {
  background-color: var(--gray-200);
  // background-color: rgba(#A50064, 0.07);
  // color: #A50064;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  &.success {
    background-color: #219653;
    color: white;
    padding-left: 30px;
  }

  .f7-icons {
    font-size: 22px;
    position: absolute;
    left: 14px;
    top: 3px;
  }
}

.refFeature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 10px;
    padding-left: 35px;
    position: relative;
    color: gray("700");
    span {
      color: gray("900");
      font-weight: bold;
    }
  }

  .refFeature-list-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#a50064, 0.1);
    position: absolute;
    left: 0;
    top: 0;

    svg {
      color: #a50064;
      width: 16px;
    }
    &.green {
      background: rgb(131, 223, 204);
      background: linear-gradient(
        180deg,
        rgba(131, 223, 204, 1) 0%,
        rgba(79, 200, 171, 1) 100%
      );
      svg {
        color: white;
      }
    }
    &.red {
      background: rgb(248, 149, 152);
      background: linear-gradient(
        180deg,
        rgba(248, 149, 152, 1) 0%,
        rgba(247, 121, 124, 1) 100%
      );
      svg {
        color: white;
      }
    }
  }
}

.refFeature-content {
  .accordion-item-opened {
    .accordion-item-toggle {
      .open {
        display: none;
      }
      .close {
        display: inline-block;
      }
    }
  }
  .accordion-item-toggle {
    .open {
      display: inline-block;
    }
    .close {
      display: none;
    }
  }
}

.referral-feature-item{
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 180px;
}

.referral-feature-meta{
  position: absolute;
  z-index: 13;
  bottom: 0;
  left: 0;
  width: 100%;
  // background-color: rgba(255,255,255,0.6);
  background-color: rgba(0, 0, 0, 0.4);
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.15) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px);
  padding: 8px 14px;
  display: flex;
  align-items: center;
  color: white;
  flex-flow: row nowrap;
  height: 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.referral-feature-name{
  flex: 1;
  font-weight: bold;
  font-size: 16px;
}

.referral-feature-btn{
  .button{
    height: 27px;
    color: var(--primary-2);
    font-weight:bold;
    font-size: 12px;
    padding:0 15px;
    background-color: rgba(255,255,255,0.9);
  }
  .check{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    // background-color: rgba(255,255,255,1);
    background-color: #3CBA58;
    border: 1px solid white;
    justify-content: center;

    i{
      // color: #39CF57;
      color: white;
      font-size: 24px;
    }
  }
}

.referral-feature-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-size: cover;
}

.referral-feature-detail{
  padding-bottom: 140px;
  ul{
    padding-left: 20px;
  }
  li{
    margin-bottom: 5px;
  }
}

.referral-feature-change{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;
  height: 130px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--gray-300);
  background-color: rgba(255,255,255,0.3);

  backdrop-filter: blur(40px);
  .tt{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .button{
    width: 110px;
  }
}



.contact__grid {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.contact__list {
  background-color: white;
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &.is-less {
    border: 1px solid var(--gray-200);
    border-radius: 5px;

    .contact__item:not(:last-child) {
      margin-bottom: 0;
      &:after {
        content: "";
        height: 1px;
        width: auto;
        left: 60px;
        right: 0;
        bottom: 0;
        position: absolute;
        background-color: var(--gray-200);
      }
    }
    .contact__item {
      border: none;
    }
  }
}

.contact__item {
  border: 1px solid var(--gray-200);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  // &:nth-child(5n+1) {
  //   .contact__avatar {
  //     background-color: #e91e63;
  //   }
  // }
  // &:nth-child(5n+2) {
  //   .contact__avatar {
  //     background-color: #9c27b0;
  //   }
  // }
  // &:nth-child(5n+3) {
  //   .contact__avatar {
  //     background-color: #ff5722;
  //   }
  // }
  // &:nth-child(5n+4) {
  //   .contact__avatar {
  //     background-color: #3f51b5;
  //   }
  // }
  // &:nth-child(5n+5) {
  //   .contact__avatar {
  //     background-color: #009688;
  //   }
  // }
}
.contact__avatar {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 16px;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  &.is-pink {
    background-color: rgba(240, 59, 160, 0.6);
  }
  &.is-purple {
    background-color: rgba(#9e44ed, 0.6);
  }
  &.is-orange {
    background-color: rgba(#fd7b13, 0.6);
  }
  &.is-blue {
    background-color: rgba(#4286f5, 0.6);
  }
  &.is-teal {
    background-color: rgba(#4286f5, 0.6);
  }
}

.contact__info {
  flex: 1;
  min-width: 0;
}

.contact__name {
  font-weight: 500;
}
.contact__phone {
  color: var(--gray-500);

  font-size: 14px;
  line-height: 22px;
}

.contact__function {
  opacity: 0.7;
  white-space: nowrap;
  a {
    width: 36px;
    line-height: 44px;
    height: 44px;
    display: inline-block;
    color: var(--gray-600);
    text-align: right;

    i {
      font-size: 26px;

      line-height: 44px;
    }

    img {
      width: 26px;
      padding-top: 9px;
    }
  }
}

.process-step {
  display: flex;
  margin-left: -2px;
  margin-right: -2px;
  flex-wrap: nowrap;
  width: 100%;
}

.process-step__item {
  display: block;
  margin: 0 2px;
  background-color: var(--gray-300);
  border-radius: 5px;
  height: 4px;
  flex: 1 1 0px;

  &.is-active {
    background-color: #2568ef;
  }
}

.list ul.steps {
  margin: 10px 0 15px 10px;
}
.steps {
  margin: 10px 0 10px 10px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.step-item {
  display: inline-block;
  position: relative;
}

.step-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  color: var(--gray-800);

  //   @include hover-focus() {
  //     color: $primary;
  //   }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12px;

    span {
      display: block;
    }
    .step-title {
      margin-left: 0;
    }
  }
}

.step-number {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
  //   color: gray("600");
  //   color: #A50064;
  color: white;
  font-weight: 500;
  //   background-color: gray("200");
  background: #a50064;
  border-radius: 100%;
}

// .step-icon {
//   width: 36px;
//   height: 36px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-shrink: 0;
//   border: 2px solid $color-ui-04;
//   color: $color-ui-04;
//   @include border-radius(100%);

//   svg {
//     width: 20px;
//     height: 20px;
//   }
// }

.step-title {
  margin-left: 15px;
  width: auto;
  white-space: normal;
}

.step-desc {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: var(--gray-500);
}

.steps-justified {
  display: flex;
  align-items: center;

  .step-item {
    flex: 1;

    + .step-item {
      &::before {
        display: none;
      }
    }
  }

  .step-link {
    width: 100%;
  }
}

.steps-tab {
  .step-item {
    + .step-item {
      margin-left: 1px;
      &::before {
        display: none;
      }
    }
  }

  .step-link {
    // background-color: lighten($gray-200, 4%);
    padding: 5px 7px;

    // @include media-breakpoint-up(sm) {
    //   padding: 8px 15px;
    // }
  }
}

.steps-vertical {
  display: flex;
  flex-direction: column;

  .step-item {
    &:not(:last-child) {
      margin-left: 0;
      padding-bottom: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 13px;
        width: 1px;
        background-color: rgba(#a50064, 0.2);
        display: block;
        height: 100%;
      }
    }
  }

  .step-title {
    width: auto;
    white-space: normal;
  }

  &.steps-tab {
    .step-item + .step-item {
      margin-top: 1px;
    }
  }

  &.steps-sm {
    .step-item + .step-item::before {
      left: 12px;
    }
  }
}
