.services-table-list {
  --f7-list-bg-color: transparent;
  --f7-list-item-title-white-space: normal;
  --f7-list-item-text-max-lines: 1;
  --f7-list-item-text-font-size: 13px;
  --f7-list-link-pressed-bg-color: transparent;
  --f7-list-item-title-line-height: 1.2;
  .item-link .item-inner {
    padding-right: 0;
  }
  .item-content {
    padding-left: 0px;
  }
  ul {
    display: flex;
    // padding-left: calc(var(--f7-safe-area-left) + var(--f7-list-item-padding-horizontal));
    // padding-right: calc(var(--f7-safe-area-left) + var(--f7-list-item-padding-horizontal));
    flex-flow: row wrap;

    // overflow: auto;
    // height: 78px * 3px;
    // scroll-snap-type: x mandatory;
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    //   opacity: 0;
    // }
    // @media (min-width: 768px) {
    //   scroll-padding-left: calc(20px + var(--f7-safe-area-left));
    // }
  }
  li {
    width: 100%;
    flex: 1 1 100%;
  }
  &.list ul:after {
    // content: '' !important;
    // width: calc(var(--f7-safe-area-right) + var(--f7-list-item-padding-horizontal));
    // height: 1px;
    // display: block !important;
    // position: static;
    // transform: none;
    // height: 78px * 3px;
    // background: transparent;
  }
  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-image {
    width: 60px;
    height: 60px;
    border-radius: 21%;
    background: var(--gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 44px;
    }
  }
  &-button {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--f7-list-item-padding-horizontal);
    --f7-button-bg-color: var(--pink);
    --f7-button-pressed-bg-color: rgba(0,0,0,0.4);
    --f7-button-text-color: white;
    --f7-button-border-radius : 8px;
    --f7-button-font-size : 13px;
    --f7-button-height: 35px;
  }
}

.service-article{
  color: rgba(0,0,0,0.6);
  font-size: 15px;
  line-height: 1.55;
  strong{
    color: rgba(0,0,0,0.7);
    // font-weight: normal;
  }
  p{
    margin-bottom: 16px;
    margin-top: 0;
  }

  .tt1{
    font-size: 22px;
    line-height: 30px;
    color: rgba(0,0,0,0.9);
  }
  .tt2{
    font-size: 17px;
    line-height: 25px;
    color: rgba(0,0,0,0.9);
    margin-bottom: 7px;
  }
}