@import "global.less";
@import "class.less";
@import "embed.less";
@import "htu.less";
/* Your app custom styles here */

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 1rem;
}

.momo-navbar {
  --f7-navbar-text-color: white;
  --f7-bars-text-color: white;
  --f7-navbar-link-color: white;
  .navbar-bg {
    // min-height: 50px;
    background: rgb(178, 5, 110);
    // background: linear-gradient(
    //   180deg,
    //   rgba(178, 5, 110, 1) 0%,
    //   rgba(246, 121, 155, 1) 100%
    // );
    // #e9b0cf
    // #c62c7e

    background: linear-gradient(
      180deg,
      #de599c 0%,
      #e798c1 100%
    );
    backdrop-filter: none;
  }
  .navbar-bg:after {
    display: none;
  }
}

.mainSlider-item .figure-img {
  object-position: 50% 0;
}


.momo-navbar-fixed {
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  backface-visibility: hidden;
  // transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  pointer-events: none;
  user-select: none;
  box-sizing: border-box;
  .navbar-inner {
    padding: 0;
  }
  .navbar-bg {
    display: none;
  }
 

  ~ .page-content {
    padding-top: 0;
  }

  background: transparent;

  &.is-active:not(.is-top) {
    .navbar-fixed-bg {
      opacity: 1;
    }
    .navbar-fixed-btn{
      rect{
        opacity: 0 !important;
      }
    }
    .navbar-fixed-title{
      opacity: 1;
    }
  }
}
.navbar-fixed-bg {
  background: #b2056e;
  background: linear-gradient(
    180deg,
    #de599c 0%,
    #e798c1 100%
  );

  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  transition-property: transform;
  user-select: none;
  opacity: 0;
  transition: all 0.2s ease-in;
}



.navbar-fixed-title{
  opacity: 0;
  position: absolute;
  width: calc(100% - 100px);
  left: 50px;
  text-align: center;
  top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  color: white;
  z-index: 2;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}
.navbar-fixed-btn {
  padding: 9px 0 0 10px;
  display: inline-block;
  pointer-events: all;
  user-select: all;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.soju-tab {
  align-items: center;
  border-bottom-color: var(--gray-300);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}

// .momo-navbar-fixed ~ .soju-tab{
//   top : 0 !important;
// }

.momo-navbar-fixed ~ .soju-tab  {
  top: 49px !important;
}

.soju-tab-item {
  display: block;
  align-items: center;
  border-bottom-color: var(--gray-300);
  color: var(--gray-700);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.8em 0.3em 0.8em;
  // vertical-align: top;
  white-space: nowrap;

  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    z-index: 3;
    user-select: none;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: transparent;
  }

  &.tab-link-active {
    font-weight: bold;
    color: var(--gray-900);
    &:after {
      background-color: var(--pink);
    }
  }
}


.splash {
  height: 1px;
  width: 100%;
  background-color: var(--gray-200);
  margin: 25px 0;
}

.section {
}
.section-splash {
  height: 8px;
  background-color: rgb(221, 221, 221);
}

.section_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--gray-900);
}

.section_subTitle {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: -15px;
  color: var(--gray-500);
  font-style: italic;
}

.article_content {
  font-size: 15px;
  line-height: 1.4;
  color: var(--gray-800);
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  p em {
    font-size: 0.9em;
    color: var(--gray-700);
  }
  p {
    margin-top: 0;
  }
}

.dona_article_more {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0.001), white);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.001), white);
    pointer-events: none;
  }
}

.icon-heovang {
  position: relative;
  top: -2px;
  padding-left: 8px;
  vertical-align: middle;
}

.soju-btn {
}

.soju-btn-gray {
  --f7-theme-color-rgb: 66, 66, 66;
  --f7-theme-color: var(--gray-800);
  --f7-button-border-color: var(--gray-500);
  --f7-button-pressed-bg-color: rgba(var(--f7-theme-color-rgb), 0.15);
}

.soju-btn-cta {
  --f7-theme-color-rgb: 66, 66, 66;
  --f7-theme-color: var(--pink);
  --f7-button-border-color: var(--gray-700);
  --f7-button-pressed-bg-color: rgba(var(--f7-theme-color-rgb), 0.15);

  font-weight: bold;
  background: linear-gradient(to left, #a50064, #e81f76);
}

.soju-popup-toolbar {
  --f7-toolbar-height: 56px;
  // backdrop-filter: none;
}

.soju-toolbar {
  --f7-toolbar-height: 56px;
  // backdrop-filter: none;
}

.sheet-pop-round {
}

.soju-popup {
  height: calc(100% - 45px);
  bottom: 0;
  top: auto;
  --f7-popup-border-radius: 15px 15px 0 0;
  // .navbar{
  //   border-radius: 15px 15px 0 0;
  // }

  &.soju-popup-htu {
    height: calc(100% - 45px);
    max-height: 700px;
  }
}

.soju-sheet {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;

  .toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .page-content {
    padding-top: 0;
  }
}

.soju-sheet .toolbar + .sheet-modal-inner {
  // height: auto;
  .page-content {
    padding-bottom: 60px;
  }
}

.soju-navbar-sheet {
  --f7-navbar-bg-color: white;
  --f7-navbar-text-color: var(--gray-900);
  --f7-navbar-link-color: var(--gray-900);
  --f7-sheet-bg-color: #fff;
  --f7-sheet-border-color: transparent;
  .navbar-bg {
    // min-height: 50px;
    // background: rgb(178, 5, 110);
    // background: linear-gradient(
    //   90deg,
    //   rgba(178, 5, 110, 1) 0%,
    //   rgba(246, 121, 155, 1) 100%
    // );
    backdrop-filter: none;
  }
}

.soju-form {
  background: var(--gray-200);
  /* padding-left: 15px; */
  border-radius: 6px;
  padding: 10px 15px;
  width: 100%;
  color: var(--gray-900);
}

.sheet-modal-round {
  background: transparent;
  &:before {
    display: none !important;
  }
  .sheet-modal-inner {
    box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
}
//OLD CSSS
