//

.hide-scrollbar {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.text-gray {
  color: var(--gray-500);
}

.lutie-inherit {
  font-size: inherit;
}
.lutie-10 {
  font-size: 10px;
}
.lutie-11 {
  font-size: 11px;
}
.lutie-12 {
  font-size: 12px;
}
.lutie-13 {
  font-size: 13px;
}
.lutie-14 {
  font-size: 14px;
}
.lutie-15 {
  font-size: 15px;
}
.lutie-16 {
  font-size: 16px;
}
.lutie-18 {
  font-size: 18px;
}
.lutie-22 {
  font-size: 22px;
}
.lutie-25 {
  font-size: 25px;
}
.lutie-29 {
  font-size: 29px;
}
.lutie-35 {
  font-size: 35px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.d-block {
  display: block;
}


.lutie-50 {
  font-size: 50px;
}

.lutie-section-less {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.5s;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.001),
      white
    ); /* transparent keyword is broken in Safari */
    pointer-events: none;
  }
}


.border-lightgray{
    border-color: var(--gray-200);
}


.lutie-section-title{
  // padding: 5px 8px 0;
}

.item-list-select {
  vertical-align: middle;
  cursor: pointer;
}
.arrow-down{
  width: 0; 
  vertical-align: middle;
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid var(--gray-500);
  display: inline-block;
}

.link-absolute{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.no-select{
  user-select: none;
}