.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}


.embed-responsive-apd {
  &::before {
    padding-top: percentage(150/290);
  }
}

.embed-responsive-cb {
  &::before {
    padding-top: percentage(78/190);
  }

  .embed-responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.embed-responsive-img {
  background: var(--gray-300);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}



.embed-responsive-slider {
  &::before {
    padding-top: percentage(30/79);
  }
}


.embed-responsive-sale {
  &::before {
    padding-top: percentage(200/400);
  }
}

.embed-responsive-referral2 {

  &::before {
    padding-top: percentage(167/268);
  }
}