/* Custom color theme properties */
:root {
  --f7-theme-color: #007aff;
  --f7-theme-color-rgb: 0, 122, 255;
  --f7-theme-color-shade: #0066d6;
  --f7-theme-color-tint: #298fff;
  --f7-navbar-height: 50px;
  --swiper-pagination-color: #a50064;
  --f7-page-bg-color: #fff;
  --f7-text-color: #212121;
  --f7-progressbar-height: 7px;
  --f7-progressbar-border-radius: 10px;
  --f7-progressbar-bg-color: var(--gray-200);
  --f7-button-outline-border-width: 1px;
  --f7-button-large-font-size: 16px;

  --f7-searchbar-in-page-content-input-border-radius: 20px;
  --f7-button-height: 40px;
  --f7-button-font-size: 14px;
  --f7-button-text-transform: none;
  --f7-toolbar-height: 56px;
  --f7-button-text-transform: initial;
  --f7-button-large-text-transform: initial;
  --f7-button-small-text-transform: initial;

  --blue: #0066cc;
  --indigo: #6610f2;
  --purple: #410099;
  --pink: #e81f76;
  --red: #ff5555;
  --orange: #fc642d;
  --yellow: #ffcd00;
  --green: #219653;
  --teal: #20c997;
  --cyan: #10cfc9;
  --white: #fff;
  --gray: #757575;
  --gray-dark: #424242;
  --pinkmomo: #a50064;
  --pinklight: #f9b5c3;
  --primary: #0066cc;
  --secondary: #9e9e9e;
  --success: #28a745;
  --info: #10cfc9;
  --warning: #ffcd00;
  --danger: #ff5555;
  --light: #f5f5f5;
  --dark: #212121;
  --primary-2: #a50064;
  --primary-3: #020202;
  --gray-900: #212121;
  --gray-800: #424242;
  --gray-700: #616161;
  --gray-600: #757575;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #e0e0e0;
  --gray-200: #eeeeee;
  --gray-100: #f5f5f5;

  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  // var(--f7-navbar-text-color, var(--f7-bars-text-color))
}

.color-pink {
  --f7-theme-color: #a50064;
  // --f7-theme-color-rgb: 76, 217, 100;
  // --f7-theme-color-shade: #2cd048;
  // --f7-theme-color-tint: #6ee081;
}

.color-black {
  --f7-theme-color: #000000;
  --f7-theme-color-rgb: 0, 0, 0;
  --f7-theme-color-shade: #000000;
  --f7-theme-color-tint: #141414;
}

.color-green {
  --f7-theme-color: #3cba58;
  --f7-theme-color-rgb: 8, 74, 74;
  --f7-theme-color-shade: #3cba58;
  --f7-theme-color-tint: #3cba58;
}


/* Custom color theme properties */
:root {
  // --f7-theme-color: #AE2070;
  // --f7-theme-color-rgb: 174, 32, 112;
  // --f7-theme-color-shade: #8c001a;
  // --f7-theme-color-tint: #d00026;
 
  --f7-list-item-title-font-size: 15px;

  // --f7-color-pink: #{$color-momo};
  // --f7-color-pink-rgb: 174,32,112;
  // --f7-color-pink-shade: #{$color-momo-light};
}
