.toggle--small {
  --f7-toggle-width: 44px;
  --f7-toggle-height: 26px;
  --f7-toggle-border-color: #e5e5e5;
  --f7-toggle-inactive-color: #fff;
}

.keypad-button-letters {
  font-size: 11px;
  line-height: 15px;
  height: 15px;
}

.pig-coin {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.pig-coin-num {
  position: absolute;
  z-index: 1;
  bottom: -3px;
  right: auto;
  left: 17px;
  font-weight: bold;
  text-shadow: -0.5px 0px #ffffff;
}

.dona-stepper {
  .stepper-input-wrap input {
    width: 60px;
  }
  height: 40px;
  --f7-theme-color: var(--gray-300);
  --f7-stepper-value-font-size: 16px;
  --f7-stepper-value-font-weight: bold;
  --f7-stepper-button-bg-color: #dadada;
  --f7-stepper-value-text-color: var(--gray-700);
  --f7-stepper-button-text-color: var(--gray-900);
  --f7-stepper-border-width: 1px;

  .stepper-button-minus:after,
  .stepper-button-plus:after {
    width: 13px;
    height: 2px;
  }
  .stepper-button-plus:before {
    height: 13px;
    width: 2px;
  }
  .stepper-button-plus:after,
  .stepper-button-minus:after,
  .stepper-button-plus:before,
  .stepper-button-minus:before {
    background-color: var(--gray-700);
  }
}

.apd-source {
  display: block;
  font-size: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  position: relative;
  white-space: nowrap;
  // padding-bottom: 10px;
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  margin-left: -5px;
  margin-right: -5px;
}
.apd-source-item {
  min-width: 165px;
  padding: 0 5px;

  display: inline-block;
  &:not(:last-child) {
    // margin-right: 10px;
  }
}

.apd-source-label {
  display: block;
  // width: 165px;
  vertical-align: top;
  position: relative;
  border-radius: 8px;
  border: 2px solid var(--gray-400);
  font-size: 13px;
  padding: 9px 9px;
  padding-left: 52px;
}

.apd-source-icon {
  position: absolute;
  top: 9px;
  left: 9px;
}

.apd-source-item input[type="radio"] {
  display: none;
}

.apd-source-item input[type="radio"]:checked ~ .apd-source-label {
  border-color: var(--pinkmomo);
}

.list-form {
  --f7-label-focused-text-color: var(--pinkmomo);
  // .item-floating-label{
  //     color: var(--primary-2);
  // }
}

.list-form-outline {
  ul:after {
    display: none;
  }

  .item-inner:after {
    display: none;
  }

  .item-inner input {
    background: var(--gray-200);
    padding-left: 15px;
    border-radius: 6px;
  }
  --f7-textarea-height: 60px;

  .item-inner textarea {
    background: var(--gray-200);
    padding-left: 15px;
    border-radius: 6px;
    min-height: 58px;
  }
}

.item-input-lab {
  position: absolute;
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 16px;
  color: var(--gray-500);
}

.item-input-wrap.have-lab {
  .input-clear-button {
    // margin-right: 20px;
    right: 10px;
  }
}

.list-outline-label {
  font-size: 10px;
  font-weight: bold;
  color: var(--gray-800);
  margin-bottom: 2px;
}

.list-form-outline .item-inner input {
  background: #eee;
  padding-left: 15px;
  border-radius: 6px;
}

.apd-payment {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: block;

  .apd-payment-item:not(:last-child) {
    margin-right: 8px;
  }
  &.apd-payment-message {
    .apd-payment-item:not(:last-child) {
      margin-right: 4px;
    }
    .apd-payment-item {
      display: inline-block;
      vertical-align: bottom;

      max-width: 150px;

      white-space: normal;
    }

    .apd-payment-label {
      background-color: #fbf2f7;
      border-color: transparent;
      padding: 5px 10px;
      height: 40px;
      overflow: hidden;
      box-sizing: border-box;
    }
    .apd-payment-item input[type="radio"]:checked ~ .apd-payment-label {
      background: var(--pink);
      border-color: transparent;
      .apd-payment-mo {
        color: white;
      }
    }

    .apd-payment-mo {
      font-weight: 500;
      font-size: 11px;
      line-height: 14px;
      color: var(--pink);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.apd-payment-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}

.apd-payment-label {
  // width: 100%;
  // background: rgba(#b0006d, 0.1);
  background: white;
  border: 1px solid var(--gray-300);
  border-radius: 20px;
  padding: 10px 15px 10px;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  display: flex;
  align-items: center;
}

.apd-payment-mo {
  display: block;
  font-size: 15px;
  color: var(--gray-900);
  line-height: 1;
  pointer-events: none;
  user-select: none;
}

.apd-payment-item input[type="radio"] {
  display: none;
}

.apd-payment-item input[type="radio"]:checked ~ .apd-payment-label {
  background: rgba(#b0006d, 0.1);
  border-color: rgba(#b0006d, 0.3);
}

.apd-payment-item
  input[type="radio"]:checked
  ~ .apd-payment-label
  .apd-payment-mo {
  // color: rgba(255, 255, 255, 0.9);
}

@pron-spacing: 15px;

@pron-gutter: 15;

.pron {
  padding: @pron-spacing;
}

.pron-container {
  width: 100%;
  padding-right: @pron-gutter / 2 * 1px;
  padding-left: @pron-gutter / 2 * 1px;
  margin-right: auto;
  margin-left: auto;

  &.balance {
    padding-right: @pron-gutter  * 1px;
    padding-left: @pron-gutter  * 1px;
  }
}

.pron-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: @pron-gutter / 2 * -1px;
  margin-left: @pron-gutter / 2 * -1px;
  &.balance {
    margin-right: @pron-gutter / 2 * -1px;
    margin-left: @pron-gutter / 2 * -1px;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .pron-col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.pron-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;

  position: relative;
  width: 100%;
  padding-right: @pron-gutter / 2 * 1px;
  padding-left: @pron-gutter / 2 * 1px;

  &.auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.pron-col-6 {
  width: 50%;
  flex: 0 0 50%;
}

.pron-section {
  padding: 0 0;
}

.pron-popup-container {
  --f7-dialog-border-radius: 5px;
  --f7-dialog-inner-padding: 0;
  --f7-dialog-width: 310px;
  --f7-dialog-button-text-color: var(--pink);
  --f7-dialog-button-letter-spacing: 0;
  --f7-dialog-button-height: 50px;
  .dialog-inner:after {
    display: none;
  }

  .pron-popup {
    background: white;
  }
  .dialog-button:after {
    display: none;
  }

  .dialog-buttons {
    margin-top: -2px;
    height: 60px;
    background: white;
    text-align: right;
    justify-content: flex-end;
    font-size: 16px;
  }

  .dialog-button {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    width: auto;
  }
}

.pron-popup-content {
  padding: 20px 20px 0;
}

.pron-popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  &:after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 50px;
    height: 50px;
    background: transparent;
  }
}

.button-coin-icon {
  width: 54px;
  position: absolute;
  top: 7px;
  right: 4px;
  pointer-events: none;
}

.dona-momo-icon {
}

.svg-inline {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}

.dona-momo-icon {
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px;
  border-radius: 6px;

  font-size: 28px;
  color: var(--pinkmomo);
}

.dona-share-list {
  --f7-list-item-min-height: 60px;
}

.dona-thanks-info {
  overflow: hidden;
  border-radius: 5px;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
  .dona-thanks-col:nth-child(2) {
    &:after {
      content: "";
      height: 40px;
      margin-top: -20px;
      background: var(--gray-300);
      width: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 2;
    }
    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 100%;
      background: var(--gray-100);
      z-index: 1;
      left: -8px;
      top: 0;
    }
  }
}

.dona-thanks-col {
  border-radius: 5px;
  background: var(--gray-100);
  position: relative;
  padding: 10px 5px;
  flex: 0 0 50%;
  text-align: center;
}

.dona-thanks-val {
  font-size: 20px;
  font-weight: bold;
  span {
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
  }
}

.dona-thanks-la {
  font-size: 13px;
  color: var(--gray-600);
}

.list.list-style1 {
  --f7-list-item-title-font-size: 14px;
  .item-title {
    color: var(--gray-500);
    padding-right: 15px;
    flex-shrink: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: inherit;
    max-width: 100%;
  }

  .item-after {
    color: var(--gray-900);
    flex-shrink: 1;
    // max-width: 70%;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }
  &.no-border-outside {
    ul:before,
    ul:after {
      display: none;
    }
  }
}

.logo-momo {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 36px;
  cursor: pointer;
  img {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
  }
}

//PASSWORD

.momo-pass-popup {
  height: 430px;
}
.momo-pass {
  text-align: center;
  padding: 30px 15px 5px;
  // background: var(--gray-200);

  input {
    // width: 100%;
    // height: 100px;
    // padding: 20px;
    // font-size: 20px;
    // border: none;
    // text-align: center;
  }
}

.momo-pass-error {
  font-size: 12px;
  padding-top: 10px;
}

.momo-pass-sym {
  width: 180px;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 50px;
  border: 1px solid var(--gray-300);

  .sym {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--gray-300);
    &.is-active {
      background: var(--gray-700);
    }
  }
}
//END PASSWORD

.first-uppercase {
  text-transform: lowercase;
}

.first-uppercase::first-letter {
  text-transform: uppercase;
}

.shadow-md {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}


.link-absolute {
  position: absolute;
  background: transparent;

  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.dona-status-icon {
  margin-bottom: 15px;
}
.dona-status {
  background-color: #325340;
  min-height: 150px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
}

.dona-status-content {
}

.color-cyan {
  color: #36bc99;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

//STEP

// Brand Colors
@color-brand-01: #0168fa;
@color-brand-02: #042893;
@color-brand-03: #1ce1ac;

// Inverse Colors
@color-inverse-01: #001737;
@color-inverse-02: #1b2e4b;
// Text Colors
@color-text-01: @color-inverse-01;
@color-text-02: @color-inverse-02;
@color-text-03: #8392a5;
@color-text-04: #c0ccda;

// UI Colors
@color-ui-01: #f5f6fa;
@color-ui-02: #e5e9f2;
@color-ui-03: #c0ccda;
@color-ui-04: #8392a5;

.list ul.steps {
  margin: 10px 0 15px 10px;
}
.steps {
  margin: 10px 0 10px 10px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.step-item {
  display: inline-block;
  position: relative;
}

.step-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  color: var(--gray-800);

//   @include hover-focus() {
//     color: $primary;
//   }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12px;

    span {
      display: block;
    }
    .step-title {
      margin-left: 0;
    }
  }
}

.step-number {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
//   color: var(--gray-600);
//   color: var(--primary-2);
  color: white;
  font-weight: 500;
//   background-color: var(--gray-200);
  background:var(--primary-2);
  border-radius: 100%;
}

// .step-icon {
//   width: 36px;
//   height: 36px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-shrink: 0;
//   border: 2px solid @color-ui-04;
//   color: @color-ui-04;
//   @include border-radius(100%);

//   svg {
//     width: 20px;
//     height: 20px;
//   }
// }

.step-title {
  margin-left: 15px;
  width: auto;
  white-space: normal;
}

.step-desc {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: @color-text-03;
}

.steps-justified {
  display: flex;
  align-items: center;

  .step-item {
    flex: 1;

    + .step-item {
      &::before {
        display: none;
      }
    }
  }

  .step-link {
    width: 100%;
  }
}

.steps-tab {
  .step-item {
    + .step-item {
      margin-left: 1px;
      &::before {
        display: none;
      }
    }

  }

  .step-link {
    // background-color: lighten($gray-200, 4%);
    padding: 5px 7px;

    // @include media-breakpoint-up(sm) {
    //   padding: 8px 15px;
    // }

    
  }
}

.steps-vertical {
  display: flex;
  flex-direction: column;

  .step-item {
  
    &:not(:last-child) {
        margin-left: 0;
        padding-bottom: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 13px;
        width: 1px;
        background-color:   rgba(var(--primary-2), 0.2);
        display: block;
        height: 100%;
      }
    }
  }

  .step-title {
    width: auto;
    white-space: normal;
  }

  &.steps-tab {
    .step-item + .step-item {
      margin-top: 1px;
    }
  }

  &.steps-sm {
    .step-item + .step-item::before {
      left: 12px;
    }
  }
}
